<template>
  <header class="sitefooter">
      <div class="gridWrap">
          <div class="w12">
              <h2>Footer Area</h2>
          </div>
      </div>
  </header>
</template>

<script>
export default {
     props: [],
     methods: {
    }
}
</script>